header{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    background-color: #2b377b;
    font-family: Anton;
    font-size: 25px;
    font-weight: 400;
    color: white;

    .logo{
        font-family: 'Anton';
    }
}