<section class="p-4">
  <h1>Send Mail</h1>
  <form [formGroup]="mailData" (ngSubmit)="onSubmit()" class="wrapper-form">
    <div class="input-row">
      <div>
        <mat-label>TO</mat-label><br />
        <input
          class="w-100"
          type="text"
          [value]="this.resieved.name"
          disabled
        />
      </div>
      <div>
        <mat-label>Mail To</mat-label><br />
        <input
          class="w-100"
          type="text"
          [value]="this.resieved.email"
          disabled
        />
      </div>
      <div>
        <mat-label>Message</mat-label><br />
        <input
          class="w-100"
          type="text"
          [value]="this.resieved.message"
          disabled
        />
      </div>
      <div>
        <mat-label>Response</mat-label><br />
        <textarea
          class="w-100"
          matInput
          rows="5"
          formControlName="emailBody"
        ></textarea
        ><br />
      </div>
      <div class="controls">
        <button class="close" mat-button mat-dialog-close>Cancel</button>
        <button class="submit" mat-raised-button type="submit">Submit</button>
      </div>
    </div>
  </form>
</section>
