.sidenav-container {
  height: 100%;
}

.logo {
  font-family: "Anton";
  font-size: 25px;
  font-weight: 400px;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-sidenav {
  left: 0;
  width: 210 px;
}

.sidenav {
  width: 210px;
  margin-right: 0;
}

.mat-typography {
  margin: 0px;
}

.active-link {
  background-color: #e0e0e0;
}
svg {
  margin-right: 0.5rem;
}
.toolbar-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.signout {
  margin-left: auto;
  cursor: pointer;
}
.signout:hover {
  color: rgb(72, 73, 73);
}
.toggle-button {
  background-color: transparent;
  border: none;
  color: white;
  margin-top: 0.5rem;
}
