<app-form-header [headerInfo]="heaerInfo"></app-form-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="wrapper-form">
    <div class="input-row">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstname">
        <mat-error *ngIf="form.get('firstname')?.invalid">firstname is required</mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastname">
        <mat-error *ngIf="form.get('lastname')?.invalid">lastname is required</mat-error>
      </mat-form-field>
    </div>
  
    <div class="input-row">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="form.get('email')?.invalid">enter valid email</mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="form.get('password')?.invalid">enter valid password</mat-error>
      </mat-form-field>
    </div>
  
    <button mat-raised-button type="submit" [disabled]="loading || form.invalid">
      Submit
      <app-loader2 *ngIf="loading" class="loader"></app-loader2>
    </button>
  </form>