<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="First Name" formControlName="firstName" value={{instructor.firstName}}>
    <mat-error *ngIf="form.get('firstName')?.invalid">First name is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last Name" formControlName="lastName" value={{instructor.lastName}}>
    <mat-error *ngIf="form.get('lastName')?.invalid">Last name is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Bio" formControlName="bio" value={{instructor.bio}}></textarea>
    <mat-error *ngIf="form.get('bio')?.invalid">Bio is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Profile Picture" formControlName="profilePicture" value={{instructor.profilePicture}}>
    <mat-error *ngIf="form.get('profilePicture')?.invalid">Profile picture is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title" value={{instructor.title}}>
    <mat-error *ngIf="form.get('title')?.invalid">Title is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description" formControlName="description" value={{instructor.description}}></textarea>
    <mat-error *ngIf="form.get('description')?.invalid">Description is required</mat-error>
  </mat-form-field>

  <input matInput type="date" formControlName="updatedAt" value={{instructor.updatedAt}} readonly>

  <button mat-button type="submit">Submit</button>
</form>