<app-form-header [headerInfo]="headerInfo"></app-form-header>

<form [formGroup]="form" (ngSubmit)="submit()" class="wrapper-form">
  <div class="input-row">
    <mat-form-field color="accent">
      <mat-label>First Name</mat-label>
      <input
        matInput
        placeholder="First Name"
        formControlName="firstName"
        value="{{ data.firstName }}"
      />
      <mat-error *ngIf="form.get('firstName')?.invalid"
        >First name is required</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input
        matInput
        placeholder="Last Name"
        formControlName="lastName"
        value="{{ data.lastName }}"
      />
      <mat-error *ngIf="form.get('lastName')?.invalid"
        >Last name is required</mat-error
      >
    </mat-form-field>
  </div>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Bio"
      formControlName="bio"
      value="{{ data.bio }}"
    ></textarea>
    <mat-error *ngIf="form.get('bio')?.invalid">Bio is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="{{ studentService.uploadPlaceHolder }}"
      class="imageUrl"
      readonly
    />
    <input type="file" class="image-file" (change)="handleFile($event)" />
    <mat-error *ngIf="form.get('profilePicture')?.invalid"
      >Profile picture is required</mat-error
    >
  </mat-form-field>
  <input type="date" formControlName="updatedAt" [hidden]="true" />
  <button mat-button type="submit" [disabled]="loading">
    Submit
    <app-loader class="loader" *ngIf="loading"></app-loader>
  </button>
</form>
