
.wrapper-form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    width: 25rem;

    button {
        background-color: #2b377b;
        color: white;
        height: 3rem;

        &:disabled{
            background-color: #2b377b70;
        }

        .loader{
            margin-left: 0.5rem;
        }
    }
}