<section>
  <h1>Non approved Courses</h1>

  <div class="parent">
    <div class="cards" *ngFor="let course of courses">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ course.title | truncate }}</mat-card-title>
          <mat-card-subtitle>{{ course?.shortDescription }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="course?.imageUrl" alt="CourseImage" />
        <mat-card-content>
          <p>
            {{ course?.description }}
          </p>
        </mat-card-content>
        <mat-card-actions style="margin-top: 5px">
          <button (click)="openDialog('0ms', '0ms', course)">view</button>
          <button (click)="Approve(course?.id || 0)">Approve</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <app-loader *ngIf="loading"></app-loader>

  <div>
    <mat-paginator
      [length]="100"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</section>
